services:
    app:
        build: .
        depends_on:
            - db
        environment:
            PI_NAME: dev_pi
            DB_IDS: ids
            DB_TEMPERATURES: temperatures
            DB_USERNAME: root
            DB_PASSWORD: root
            DB_HOST: db
            DB_SCHEMA: rpi_db
        command: python main.py
        restart: no
    db:
        build:
            context: .
            dockerfile: mysql.Dockerfile
        image: mysql:latest
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: rpi_db
        restart: always
        ports:
            - "3306:3306"
