version: "3.8"
services:
    app:
        build: .
        depends_on:
            - db
        environment:
            MYSQL_HOST: db
            MYSQL_USER: root
            MYSQL_PASSWORD: root
            MYSQL_DATABASE: testdb
        command: python main.py
    db:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: testdb
        ports:
            - "3306:3306"
